

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/container.css">
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}


{% block content %}
<h1>Statistic</h1>

<hr>
<div>
    <h2>RESULT</h2>

    <div class="form-container">
    {% if data is empty %}
        <span class="no-action">No data</span>
    {% else %}
        {% for key, value in data %}
            {% if value is iterable %}
                <h3>{{ key|capitalize }}</h3>
                <ul>
                    {% for subKey, subValue in value %}
                        <li>
                            <strong>{{ subKey }}</strong> :
                            {% if subValue is iterable %}
                                Qte: {{ subValue.quantity }},
                                Revenu: {{ subValue.revenue }},
                                Nb ventes: {{ subValue.count }}
                            {% else %}
                                {{ subValue }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="form-group">
                    <h3>{{ key|capitalize }}</h3>
                    <p>{{ value }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}